@import "./scss/colors";
@import "./scss/fonts";

/** Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  // color: hsl(228, 45%, 44%);
  color: salmon;
}

body {
  font-size: calc(15px + (32 - 24) * ((100vw - 375px) / (1920 - 375)));
  background-color: $pri-main-bg;
  color: white;
  text-align: center;
  padding: 2.5em;
  font-family: $font-inter;
}
h1,
h2 {
  color: $neutral-main-heading;
}

h1 span {
  color: $pri-accent;
}

p {
  color: $neutral-main-paragraph;
  line-height: 2;
}

footer {
  padding-top: 1em;
}
