@import "./scss/colors";
@import "./scss/fonts";
@import "./scss/viewport";

/** Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  // color: hsl(228, 45%, 44%);
  color: salmon;
}

body {
  font-size: calc(15px + (32 - 24) * ((100vw - 375px) / (1920 - 375)));
  background-color: $pri-main-bg;
  color: white;
  text-align: center;
  padding: 2.5em;
  font-family: $font-inter;
}
h1,
h2 {
  color: $neutral-main-heading;
}

h1 span {
  color: $pri-accent;
}

p {
  color: $neutral-main-paragraph;
  line-height: 2;
}

footer {
  padding-top: 1em;
}
/*==================== Media Queries =====================*/

/** Mobile **/
.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $pri-card-bg;
  border-radius: 10px;
  overflow: hidden;

  header {
    background-color: #894091a1;

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: overlay;
      filter: contrast(80%);
    }
  }
  .card__content {
    display: grid;
    place-content: center;
    padding: 2em;
    &-title {
      font-size: 1.7em;
    }
    &-text {
      padding-top: 1em;
      color: $neutral-main-paragraph;
      font-size: 0.85em;
    }

    &__stats {
      margin-top: 1.5em;

      & > * {
        padding-top: 1.5em;
      }
      &-details > h2 {
        font-size: 1.5em;
      }
      &-details > p {
        font-family: $font-deca;
        color: $neutral-stat-heading;
        font-weight: 400;
        font-size: 0.7em;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}
/** Tablet **/
@include tablet {
  body {
    font-size: 16px;
    text-align: left;
    display: grid;
    place-content: center;
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    header {
      grid-column: 2/3;
      grid-row: 1;
    }

    .card__content {
      grid-column: 1/2;
      grid-row: 1;

      &__stats {
        display: flex;

        & > * {
          flex: 1 1 100%;
          padding-right: 2em;
        }
      }
    }
  }
}
