$pri-main-bg: hsl(233, 47%, 7%);
$pri-card-bg: hsl(244, 38%, 16%);
$pri-accent: hsl(277, 64%, 61%);

$neutral-main-heading: hsl(0, 0%, 100%);
$neutral-stat-heading: hsla(0, 0%, 100%, 0.6);
$neutral-main-paragraph: hsla(0, 0%, 100%, 0.75);
